<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Pick a Sign</title>
    </head>
    <body>
        <div style="display: flex; align-items: center; flex-direction: column;">
            <h1>Pick a Sign</h1>
            <form action="./verify" method ="POST">
                <p>Pierre, Papier, Ciseaux, Lezard, Spock :</p>
                <input type ="text"name="name"/>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </body>
</html>
