<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mission Failed</title>
    </head>
    <body>
        <div style="display: flex; align-items: center; flex-direction: column;">
           <h1>ERRROR</h1>
            <p>Votre Choix n'est pas valable !</p>
            <a href="http://127.0.0.1:5000/JanKenPon"><input type="button" value="Revenir au menu"></a>
        </div>
        <br>
        <div style="display: flex; justify-content: center; align-items: center;">
            <img src="https://i.waifu.pics/~7-brLD.gif" alt="cry" />
        </div>
    </body>
</html>

